<div class="container thumbnail">
	<div class="row">
		<div class="col-xs-6 col-md-4 col-md-offset-2">
			<a href="#">
				<img src="{{tab.profile.Player.Avatar.Gamertile.Large}}" alt="..." class="img-rounded img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<ul class="list-group">
				<li class="list-group-item">Gamertag: {{tab.profile.Player.Gamertag}}</li>
				<li class="list-group-item">Gamerscore: {{tab.profile.Player.Gamerscore}} </li>
				<li class="list-group-item">Last Game Played: {{tab.profile.RecentGames[0].Name}}</li>
			</ul>
		</div>
		


	</div>
	<!--{{tab.profile | json}} -->
</div>